################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MigrationBackup/ee98ee4d/Webcam
/bin
/obj